<header class="header">
  <div class="header__left">
    <button class="header__pill" type="button">
      <span class="header__icon header__icon--inbox"></span>
      Inbox
    </button>
  </div>

  <div class="header__center">
    <ng-content select="[headerTitle]"></ng-content>
  </div>

  <div class="header__right">
    <div class="header__resource" title="Ofensiva diária">
      <span class="header__icon header__icon--streak"></span>
      <span class="header__resource-value">{{ streak() }}</span>
    </div>

    <div class="header__resource" title="Moedas">
      <span class="header__icon header__icon--coin"></span>
      <span class="header__resource-value">{{ coins() }}</span>
    </div>
  </div>
</header>