.chest-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chest-panel__title {
  font-family: var(--fonte-title);
  color: var(--color-yellow-secundary);
  font-size: 1.1rem;
}

.chest-panel__slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* ===========================
   RESPONSIVO MOBILE
=========================== */
@media (max-width: 480px) {
  .chest-panel__slots {
    grid-template-columns: repeat(2, 1fr);
  }
}