<aside class="channel-list">
  <span class="channel-list__title">Canais</span>

  @for (channel of chatService.channels(); track channel.id) {
    <button
      class="channel-list__item"
      [class.channel-list__item--active]="chatService.activeChannelId() === channel.id"
      type="button"
      [attr.title]="channel.name"
      (click)="chatService.selectChannel(channel.id)"
    >
      <span class="channel-list__icon">{{ channel.icon }}</span>
      <span class="channel-list__label">{{ channel.name }}</span>
    </button>
  }
</aside>