.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url('/assets/backgrounds/wall_bg.jpeg');
  background-repeat: repeat;
  background-position: top center;
  image-rendering: pixelated;
}

.landing__section-gap {
  height: 3rem;
}

@media (max-width: 700px) {
  .landing__section-gap {
    height: 1.5rem;
  }
}
