.chat-global {
  display: flex;
  height: 100%;
  background: var(--color-black);
  border: 2px solid var(--color-brown-second);
  border-radius: 8px;
  overflow: hidden;
}

.chat-global > app-channel-chat {
  flex: 1;
  min-width: 0;
}