.profile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.profile__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: start;
}

.profile__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--color-brown-primary);
  border: 2px solid var(--color-brown-second);
  border-radius: 8px;
  padding: 1.5rem;
}