<div class="profile">
  <div class="profile__top">
    <div class="profile__card">
      <app-profile-editor></app-profile-editor>
      <app-badge-picker></app-badge-picker>
      <app-profile-background-picker></app-profile-background-picker>
    </div>

    <div class="profile__card">
      <app-profile-stats></app-profile-stats>
      <app-weekly-xp-chart></app-weekly-xp-chart>
    </div>
  </div>

  <div class="profile__card">
    <app-streak-calendar></app-streak-calendar>
  </div>

  <div class="profile__card">
    <app-achievements-panel></app-achievements-panel>
  </div>
</div>