<section class="king-section" id="desafiosSecao" #sectionRef>
  <div class="king-section__intro">
    <h2 class="king-section__title">Ligas para se divertir</h2>
    <p class="king-section__subtitle">
      Duele com outros jogadores, descubra novas estratégias e aprenda a vencer seus duelos.
    </p>
  </div>

  <div class="king-section__stage">
    <div class="king-section__cards">
      @for (card of cards; track card.mode; let i = $index) {
        <div class="king-section__trigger" [attr.data-card-index]="i">
          <button
            class="king-section__card"
            type="button"
            (click)="selectCard(i)"
            [class.king-section__card--active]="cardState(i) === 'active'"
            [class.king-section__card--behind-1]="cardState(i) === 'behind-1'"
            [class.king-section__card--behind-2]="cardState(i) === 'behind-2'">
            <div class="king-section__card-frame">
              <img class="king-section__card-image" [src]="card.image" [alt]="card.title">

              <div class="king-section__card-info">
                <h3 class="king-section__card-title">{{ card.title }}</h3>
                <p class="king-section__card-description">{{ card.description }}</p>
              </div>
            </div>
          </button>
        </div>
      }
    </div>

    <div class="king-section__king-wrapper">
      <div class="king-section__speech">
        {{ cards[activeCard()].kingQuote }}
      </div>
      <img class="king-section__king-image" [src]="cards[activeCard()].kingImage" alt="Rei mestre">
    </div>
  </div>
</section>