<nav class="battle-navbar">
  <div class="battle-navbar__left">
    <button class="battle-navbar__back" type="button" (click)="exitBattle()" aria-label="Voltar">
      <img class="battle-navbar__back-icon battle-navbar__back-icon--default" src="/assets/icons/back_icon.png" alt="">
      <img class="battle-navbar__back-icon battle-navbar__back-icon--hover" src="/assets/icons/back_icon_hover.png" alt="">
    </button>
  </div>

  <div class="battle-navbar__center">
    <button
      class="battle-navbar__nav-btn"
      type="button"
      [disabled]="isFirstDifficulty()"
      (click)="battleState.goToPreviousDifficulty()"
    >
      ‹
    </button>

    <span class="battle-navbar__difficulty" [attr.data-level]="battleState.difficulties[battleState.currentDifficultyIndex()]">
      {{ difficultyLabel() }}
    </span>

    <button
      class="battle-navbar__nav-btn battle-navbar__nav-btn--next"
      type="button"
      [disabled]="isLastDifficulty()"
      (click)="battleState.goToNextDifficulty()"
      aria-label="Próxima dificuldade"
    >
      <img class="battle-navbar__nav-icon battle-navbar__nav-icon--default" src="/assets/icons/next_icon.png" alt="">
      <img class="battle-navbar__nav-icon battle-navbar__nav-icon--hover" src="/assets/icons/next_icon_hover.png" alt="">
    </button>
  </div>

  <div class="battle-navbar__right">
    <button class="battle-navbar__test-btn" type="button" (click)="runTests()">
      Testar
    </button>

    <button
      class="battle-navbar__submit-btn"
      type="button"
      [disabled]="!battleState.allPublicTestsPassed()"
      (click)="submit()"
    >
      Enviar
    </button>
  </div>
</nav>